<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ CRM</title>
    <style>
        .lead{
            padding-bottom:10px;
            padding-top:10px;
            padding-left:6px;
            padding-right:6px;
            margin-top:10px;
            background-color:#B5D8CC;
        }
    </style>
</head>
<body>

<h1>This is template</h1>
    
    {% for lead in leads %}
        <div class="lead">
            <a href="/leads/{{ lead.pk }}">{{ lead.first_name }} {{ lead.last_name}}</a>  {{ lead.age}}
           
        </div>


    {% endfor %}
    


</body>
</html>